// Брейкпоинты для медиа-запросов

$S: 480px;
$M: 768px;
$L: 1170px;

// Сами медиа-запросы, а точнее "умный" миксин, то бишь по сути функция, которая принимает в качестве параметра брейкпоинт
@mixin MQ($canvas) {
  // А дальше идет проверка, какой брейкпоинт был передан, в зависимости от чего выводится та или иная строка. Просто посмотри скомпилированный CSS-файл и увидишь во что это дело компилируется, когда использовано с тем или иным параметром. @content это то, что было в фигурных скобках при вызове миксина - оно просто подставляется. Очень хитрый пример миксина, надо сказать.
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

