// Используемые цвета

$color-1: #1f4c74; // Морское дно
$color-2: #dab433; // Заря
$color-3: #f2f2f2; // Белесый

// Основной шрифт нашей страницы 

$primary-font: 'Roboto', sans-serif;

// Продолжительность анимации - можно увеличить и лучше понять что происходит в примере. Вторая часть анимации управляется переменной duration в файле main.js, так что для полноты картины нужно увеличить значение и там.

$animation-duration: 0.6s;